<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<h1 data-th-text="${boardName}">게시글</h1>
<form action="update" data-th-action="@{update}" data-th-object="${board}"
      enctype='multipart/form-data'
      method='post'>
  <input data-th-value="${category}" name='category' type='hidden'>
  <div>
    번호: <input data-th-value="*{no}" name='no' readonly type='text' value="100">
  </div>
  <div>
    제목: <input data-th-value="*{title}" name='title' type='text' value="제목입니다.">
  </div>
  <div>
    내용: <textarea data-th-text="*{content}" name='content'>내용입니다.</textarea>
  </div>
  <div>
    작성자: <input data-th-value="*{writer.name}" readonly type='text' value="홍길동">
  </div>

  <div data-th-if="${category == 1}">
    첨부파일: <input multiple name='attachedFiles' type='file'>
    <ul data-th-if="*{files[0].filePath}">
      <li data-th-each="file : *{files}" data-th-object="${file}">
        <a data-th-href="@{'https://kr.object.ncloudstorage.com/bitcamp-devops5-118/board/' + *{filePath}}"
           data-th-text="*{filePath}"
           href="file.html">a.gif</a>
        [<a data-th-href="@{file/delete(category=${category},no=*{no})}"
            href="file-delete.html">삭제</a>]
      </li>
    </ul>
  </div>

  <div>
    <button>변경</button>
    <a data-th-href="@{delete(category=${category},no=*{no})}">[삭제]</a>
  </div>
</form>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
</html>