<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
</head>
<body>

<header data-th-fragment="header">
  <a data-th-href="@{/}" href="/">
  <img src='https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png'>
  </a>
  <a data-th-href="@{/assignment/list}" href="assignment/list">과제</a>
  <a data-th-href="@{/board/list(category=1)}" href="board/list">게시글</a>
  <a data-th-href="@{/board2/list}" href="board2/list">게시글2</a>
  <a data-th-href="@{/member/list}" href="member/list">회원</a>
  <a data-th-href="@{/board/list(category=2)}" href="board/list2">가입인사</a>

  <span data-th-if="${session.loginUser != null}"
        data-th-text="${session.loginUser.name}">홍길동</span>
  <a data-th-if="${session.loginUser != null}" href="auth/logout" onclick="logout(event)"
     data-th-data-csrf="${_csrf.token}" data-th-data-csrf-header="${_csrf.headerName}"
     data-csrf="token" data-csrf-header="headerName">로그아웃</a>

  <a data-th-href="@{/auth/form}" data-th-if="${session.loginUser == null}" href="auth/form">로그인</a>

  <a data-th-href="@{/about}" href="about">소개</a>
  <script>
    function logout(event) {
      event.preventDefault();

      let csrf = event.target.getAttribute('data-csrf');
      let csrfHeader = event.target.getAttribute('data-csrf-header');

      let headers = {};
      headers[csrfHeader] = csrf;

      fetch('/logout', {
        method: 'POST',
        headers: headers
      })
      .then(response => {
        location.href = '/';
      });
    }

  </script>
</header>

</body>
</html>