<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<h1>로그인</h1>

<form action="login" data-th-action="@{login}" method='post'>
  <div>
    이메일: <input data-th-value='${email}' name='email' type='text'
                value="hong@test.com">
  </div>
  <div>
    암호: <input name='password' type='password'>
  </div>
  <button>로그인</button>
  <input name='saveEmail' type='checkbox'> 이메일 저장
</form>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
</html>