<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
</head>
<body>

<div data-th-replace="header :: header">머리말</div>

<h1>과제 관리 시스템</h1>

<h2>회원</h2>

<form action="add" data-th-action="@{add}" enctype='multipart/form-data' method='post'>
  <div>
    이메일: <input name='email' type='text'>
  </div>
  <div>
    이름: <input name='name' type='text'>
  </div>
  <div>
    암호: <input name='password' type='password'>
  </div>
  <div>
    사진: <input name='file' type='file'>
  </div>
  <div>
    <button>등록</button>
  </div>
</form>

<div data-th-replace="footer :: footer">꼬리말</div>

</body>
</html>