<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="BoardDao">

  <insert id="add" parameterType="bitcamp.myapp.vo.Board">
    insert into board_files(file_path,board_no) values(?,?)
  </insert>

  <delete id="delete" parameterType="int">
    delete from boards 
    where board_no=#{value}
  </delete>

  <select id="findAll" resultType="bitcamp.myapp.vo.Board" parameterType="int">
    select  
      b.board_no as no,
      b.title,  
      b.created_date createdDate,
      count(file_no) fileCount,
      m.member_no,
      m.name
    from
      boards b left outer join board_files bf on b.board_no=bf.board_no  
      inner join members m on b.writer=m.member_no  
    where
      b.category=#{value}
    group by
      board_no  
    order by
      board_no desc
  </select>

  <select id="findBy" resultType="bitcamp.myapp.vo.Board" parameterType="int">
    select"
      b.board_no as no,
      b.title,  
      b.content,
      b.created_date as createdDate,
      m.member_no,  
      m.name  
    from
      boards b inner join members m on b.writer=m.member_no  
    where board_no=#{value}
  </select>

  <update id="update" parameterType="bitcamp.myapp.vo.Board">
    update boards set
      title=#{title},
      content=#{content}
    where
      board_no=#{no}
  </update>
</mapper>