<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bitcamp.myapp.dao.MemberDao">

  <resultMap id="MemberMap" type="Member">
    <id column="member_no" property="no"/>
    <result column="email" property="email"/>
    <result column="name" property="name"/>
    <result column="photo" property="photo"/>
    <result column="created_date" property="createdDate"/>
  </resultMap>

  <insert id="add" parameterType="Member">
    insert into members(email,name,password,photo)
    values(#{email},#{name},sha2(#{password},256),#{photo})
  </insert>

  <delete id="delete" parameterType="int">
    delete from members where member_no=#{value}
  </delete>

  <select id="findAll" resultMap="MemberMap">
    select
      member_no,
      email,
      name,
      photo,
      created_date
    from
      members
  </select>

  <select id="findBy" resultMap="MemberMap" parameterType="int">
    select
      member_no,
      email,
      name,
      photo,
      created_date
    from
      members
    where
      member_no=#{value}
  </select>

  <update id="update" parameterType="Member">
    update members set
      email=#{email},
      name=#{name},
      photo=#{photo}
    <if test="password != ''">
      , password=sha2(#{password},256)
    </if>
    where
      member_no=#{no}
  </update>

  <select id="findByEmailAndPassword" resultMap="MemberMap" parameterType="map">
    select
      member_no,
      email,
      name,
      created_date
    from
      members
    where
      email= #{email}
      and password=sha2(#{password},256)
  </select>
</mapper>