<!DOCTYPE html>
<html lang='en'>
<head>
  <meta charset='UTF-8'>
  <title>비트캠프 데브옵스 5기</title>
</head>
<body>

<header data-th-fragment="header">
  <img src='https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_92x30dp.png'>
  <a href='/app/assignment/list'>과제</a>
  <a href='/app/board/list?category=1'>게시글</a>
  <a href='/app/member/list'>회원</a>
  <a href='/app/board/list?category=2'>가입인사</a>

  <span data-th-if="${session.loginUser != null}"
        data-th-text="${session.loginUser.name}">홍길동</span>
  <a data-th-if="${session.loginUser != null}" href='/app/auth/logout'>로그아웃</a>

  <a data-th-if="${session.loginUser == null}" href='/app/auth/form'>로그인</a>

  <a href='/app/about'>소개</a>
</header>

</body>
</html>